The next step in this project is to create 2 clusters - One for Sunset and One for Noon Images. And create a classification model. Split the dataset into Training Set and Test Set.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.cluster import KMeans
from sklearn.model_selection import train_test_split
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score
from sklearn.metrics import explained_variance_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
from __future__ import with_statement
import cv2
import glob
import matplotlib.pyplot as plt
import numpy as np
import os, PIL
import matplotlib.image as mpimg
from PIL import Image
import pandas as pd
import seaborn as sns

In [3]:
df_sunset = pd.read_csv('resized-sunset pixels.csv')
df_noon = pd.read_csv('resized-noonsun pixels.csv')

Assign Cluster values 1 and 0 to Sunset and Noon pictures.

In [4]:
df_sunset['Cluster'] = 1
df_noon['Cluster'] = 0

In [5]:
df_sunset.shape

(31500, 4)

In [6]:
df_sunset.head()

   R   G   B  Cluster
0  1  52  81        1
1  1  54  81        1
2  1  58  81        1
3  1  64  81        1
4  1  69  82        1

In [7]:
df_noon.shape

(31500, 4)

In [8]:
df_noon.head()

    R    G    B  Cluster
0  39  111  144        0
1  39  112  145        0
2  40  113  146        0
3  41  115  148        0
4  41  117  150        0

In [9]:
df = pd.concat([df_sunset, df_noon])

In [10]:
df.shape

(63000, 4)

In [11]:
X = df[['R','G','B']]
y = df['Cluster']

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

In [13]:
km = KMeans(n_clusters=2, init='k-means++', n_init=5, max_iter=100)
km.fit(X_train)

KMeans(max_iter=100, n_clusters=2, n_init=5)

In [14]:
y_pred = km.predict(X_test)

In [15]:
y_pred

array([1, 0, 1, ..., 1, 1, 1])

In [16]:
print('Mean Absolute Error for the model is', mean_absolute_error(y_test, y_pred))

Mean Absolute Error for the model is 0.32133333333333336

In [17]:
# Finally, we have to take 1 test image for checking if our model does correct prediction

In [18]:
image = plt.imread("Test Image.jpeg")

In [19]:
dim = (300,300)

In [20]:
noon_image = Image.open("Test Image.jpeg")

In [21]:
noon_image = noon_image.resize(dim)

In [22]:
noon_image.save("Resized Test Image.jpg")

In [23]:
with open('resized test image pixels.csv', 'w+') as file:
  file.write('R,G,B\n')
  noon_test = Image.open("Resized Test Image.jpg")
  pix = noon_test.load()
  width, height = noon_test.size
  for x in range(width):
      for y in range(height):
        r = pix[x,y][0]
        g = pix[x,x][1]
        b = pix[x,x][2]
      file.write('{0},{1},{2}\n'.format(r,g,b))

In [24]:
df_noontest = pd.read_csv("resized test image pixels.csv")

In [25]:
X_noontest = df_noontest[['R','G','B']]

In [26]:
df_noontest['Cluster'] = km.predict(X_noontest)

In [27]:
df_noontest.head()

     R    G    B  Cluster
0  113  162  171        0
1  113  164  173        0
2  113  167  176        0
3  114  170  179        0
4  114  169  178        0

In [28]:
df_noontest.groupby('Cluster').count()

           R    G    B
Cluster
0        300  300  300

Clearly the model has accurately predicted the Image to be of Noon time.

In [49]:
# Next step would be to take a sunset pic and do the same validation

In [50]:
image = plt.imread("Sunset_test1.png")

In [51]:
dim = (300,300)

In [52]:
sunset_image = Image.open("Sunset_test1.png")

In [53]:
sunset_image = sunset_image.resize(dim)

In [54]:
sunset_image.save("Resized Sunset Test Image.png")

In [55]:
with open('Resized Sunset Test Image.csv', 'w+') as file:
  file.write('R,G,B\n')
  noon_test = Image.open("Resized Sunset Test Image.png")
  pix = noon_test.load()
  width, height = noon_test.size
  for x in range(width):
      for y in range(height):
        r = pix[x,y][0]
        g = pix[x,x][1]
        b = pix[x,x][2]
      file.write('{0},{1},{2}\n'.format(r,g,b))

In [56]:
df_sunsetimage = pd.read_csv("Resized Sunset Test Image.csv")

In [57]:
X_sunsetimage = df_sunsetimage[['R','G','B']]

In [58]:
df_sunsetimage['Cluster'] = km.predict(X_sunsetimage)

In [59]:
df_sunsetimage.head()

    R   G    B  Cluster
0  20  73  102        1
1  20  74  103        1
2  21  73  101        1
3  21  74  102        1
4  21  75  103        1

In [60]:
df_sunsetimage.groupby('Cluster').count()

           R    G    B
Cluster
0         22   22   22
1        278  278  278

Because maximum no. of pixels are classified as Cluster 1, the model accurately classifies the image as Sunset image.